.pd-container{
    background: #34383a;
    padding: 25px 15px;
    border-radius: 10px;
    margin: 20px 10px;
}

.pd-tittle{
    font-size: 25px !important;
    text-align: center;
}

.pd-body{
    font-size: 16px !important;
    text-align: center;
    margin: 5px 25px !important;
}